<table id="list">

</table>



<h1> Stuldsfsdas</h1>


@section Styles{
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script>
        $(document).ready(function myfunction() {

            $('#list').jqGrid({
                caption: "Employee Details",
                url: '/Administration/Student/Index',
                datatype: "json",
                contentType: "application/json; charset-utf-8",
                mtype: 'GET',
                colNames: ['FirstName', 'LastName', 'Id', 'Name'],
                colModel: [
                      { name: 'FirstName', index: 'FirstName', width: 150 },
                      { name: 'LastName', index: 'LastName', width: 150 },
                      { name: 'Id', index: 'Id', width: 150 },
                      { name: 'Name', index: 'Name', width: 150 }
                ],
                rowNum: 10,
                loadonce: true

            });

            jQuery("#list").jqGrid('navGrid', '#pager', { edit: true, add: true, del: true });
        });


    </script>
}
