@model CampusSystem.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Campus System</h1>
    <p class="lead">Here you can find everything about student campus. Where you can live, how will you pay, find latest news for your campus.</p>
</div>

@if (TempData["Notification"] != null)
{
    <div class="alert alert-success">
        @TempData["Notification"]
    </div>
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Latest news</h3>
    </div>
    @foreach (var news in Model.News)
    {
        <div class="col-md-8 col-md-offset-2">
            <blockquote>
                <h4>@news.Title</h4>
                <p>@news.Content</p>
                <small>Published: @Html.DisplayFor(x=>news.CreatedOn)</small>
            </blockquote>
        </div>
    }
</div>